/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) {
    #preview{
        height: 11%;
    }

    .scrolls {
        width: 50%;
        top: 3%;
    }

    #name{
        font-size: 1em;
        top: 3.5%;
        left: 7%;
    }

    .blackQuar{
        width: 40%;
        height: 6%;
        top: 3%;
    }

     .blackQuar p {
         top: 20%;
        font-size: 1em;
    }

     .nav{
         width: 100%;
         border-radius: 0;
         left: 0;
         right: 0;
         top: 10%;
         height: 9%;
     }

     .contLogo{
         width: 17%;
         height: 15%;
         top: 5%;
         left: 40%;
     }

     .contLogo .logo{
         top: 50%;
         width: 60%;
         left: 20%;
     }

     .nav .navOne {
         padding-left: 2%;
         padding-top: 5%;
         width: 50%;
     }

     .nav .navOne li {
         margin-left: 2%;
         padding-left: 0;
         width: 27%;
     }

     .nav .navOne li img {
         padding-left: 5%;
         width: 60%;

     }

     .nav .navOne li p {
         font-size: 0.6em
     }

     .nav .navOne li:nth-child(3) p{
         padding-left: 4%;
     }

     .nav .navFour {
         padding-left: 2%;
         padding-top: 5%;
         width: 50%;
     }

     .nav .navFour li {
         margin-left: 2%;
         padding-left: 0;
         width: 27%;
     }

     .nav .navFour li img {
         padding-left: 5%;
         width: 60%;

     }

     .nav .navFour li p {
         font-size: 0.6em
     }

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-device-width : 321px) and (orientation : landscape){}

/* Smartphones (portrait) ----------- */
@media only screen and (max-device-width : 500px) and (orientation : portrait){}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 500px) and (max-device-width : 1024px) and (orientation : portrait){}

/* Desktops and laptops ----------- */
@media (min-width: 801px) and (max-width: 1023px){}


@media only screen and (min-width : 1224px) {
    .scrolls {
        width: 35%;
    }

    #name {
        font-size: 2.2em;
        left: 5%;
        top: 12%;
    }

     #inBlack {
        font-size: 2.3em;
    }

     .contLogo {
        left: 43%;
        top: 19%;
    }

     .contLogo .logo {
         top: 46%;
         width: 55%;
         left: 22%;
    }

     .nav {
        display: block;
        width: 56%;
        left: 20%;
         height: 22%;
    }

     .nav .navOne {
        padding-top: 8%;
        padding-left: 5%;
    }

     .nav .navFour {
        padding-top: 0;
        padding-right: 0;
    }
}


 /*Large screens -----------*/
@media only screen and (min-width : 1824px) {
    .scrolls {
        width: 40%;
    }

    #name {
        font-size: 3em;
        left: 6%;
        top: 13%;
    }

    #inBlack {
        font-size: 3em;
    }

    .contLogo {
        left: 44.5%;
        top: 20%;
    }

    .contLogo .logo {
        left: 20%;
        top: 40%;
        width: 60%;
    }

    .nav {
        display: block;
        width: 59%;
        height: 23%;
        left: 20%;

    }

    .nav .navOne {
        padding-top: 8%;
        padding-left: 0;
    }

    .nav .navOne li {
        padding-left: 5%;
    }

    .nav .navOne li img {
        width: 110%;
    }

    .nav .navOne li p {
        font-size: 1.4em;
    }


    .nav .navFour {
        padding-top: 0;
        padding-right: 3%;
    }

    .nav .navFour li {
        padding-right: 5%;
    }

    .nav .navFour li p {
        font-size: 1.4em;
    }

    .nav .navFour li img {
        width: 110%;
    }
}

