{% extends "union/union.html" %}

{% block title %}
<title>{{prTitle}} - Игровой клан Красный Лев</title>
{% endblock title %}

{% block content %}
    <div class="bg-cont">

        <iframe id="embed_youtube" type="text/html" width="720" height="405"
            src="https://www.youtube.com/embed/S6QSykgAsaI?autoplay=1&enablejsapi=1&modestbranding=1&color=white"
            frameborder="0" allowfullscreen></iframe>


        <iframe id="embed_chat" allowfullscreen="" frameborder="0" height="405"
                src="https://www.youtube.com/live_chat?v=S6QSykgAsaI&embed_domain=be04c14f.ngrok.io"
                width="480"></iframe><br/>
    </div>
{% endblock content %}